body:not([data-mode="dark"]) {
    background: #eee;
    color: #111;
}

body[data-mode="dark"] {
    background: #111;
    color: #eee;
}

#nav-static-wrapper {
    background: transparent;
}

#chat-wrapper[data-mode="dark"] {
    background: transparent;    
}