body {
    overflow: hidden;
    background: #32cd32;
    color: #000;
}

#nav-static-wrapper {
    background: transparent;
}

#chat-wrapper[data-mode="dark"] {
    background: transparent;    
}

#room-header[data-mode="dark"] {
    background: transparent;    
}