body {
    overflow: hidden;
    background: #32c;
    color: #32c;
}

#nav-static-wrapper {
    background: transparent;
}

#nav-static {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-menu {
    padding-left: 0;
    padding-right: 0;
}

#chat-wrapper[data-mode="dark"] {
    background: transparent;
}

#room-header[data-mode="dark"] {
    background: transparent;
}

#nav-static .header-button {
    bottom: unset;
    height: 60px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    position: relative;
    width: 60px;
}

#nav-static .header-button svg path {
    fill: #fff;
}

.header-button.header-config {
    margin-top: auto;
}

.gg-options {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 2px;
    box-shadow: -3px 4px 0 0, 3px -4px 0 0
}

.gg-options::after, .gg-options::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-radius: 100%
}

.gg-options::before {
    top: -7px;
    left: -4px
}

.gg-options::after {
    bottom: -7px;
    right: -4px
}
